@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

:root {
    --main-background-color: white;
    --main-button-background-color: #623412;
    --main-header-color: #88AADD;
    --main-header-second-color:#623412;
    --main-header-third-color: #BD9A7A;
    --main-button-font-color: #FFF;
    --main-body-font-color: #000;
    font-family:'Yanone Kaffeesatz', helvetica, sans-serif;
    --main-font-size: 30px;
    --main-header-font-size: 120px;
    --main-game-over-font-size: 50px;
    --main-body-font-size: 25px;
}

.containerWildMode {
    display: flex;
    justify-content: center;
    margin: -40px 0 50px 0;
}

#wildMode {
    font-size: var(--main-font-size);
    font-family: inherit;
    text-align: center;
    padding: 10px 40px;
    border-radius: 60px;
    border-style: none;
    cursor: progress;
    background:
        linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.wildMode {
    --main-background-color: #000;
    --main-button-background-color: #9B6A8C;
    --main-header-color: #553950;
    --main-header-second-color: #9B6A8C;
    --main-header-third-color: #5ED6C1;
    --main-button-font-color: #5300EA;
    --main-body-font-color: #5300EA;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: var(--main-background-color);
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--main-header-color);
    font-size: var(--main-header-font-size);
    text-shadow: 1px 3px 0 var(--main-header-second-color), -2px -3px 0 var(--main-header-third-color);
    margin-top: 40px;
}

.containerButtons {
    display: flex;
    justify-content:space-evenly;
    margin: 0px 200px;
}

#Rock, 
#Paper, 
#Scissors {
    padding: 20px 40px;
    background-color: var(--main-button-background-color);
    color: var(--main-button-font-color);
    font-size: var(--main-font-size);
    font-family: inherit;
    border-radius:40px;
    border-style: none;
}

#Rock:hover, 
#Paper:hover,
#Scissors:hover {
    transition: transform 0.5s;
    background-color: var(--main-header-third-color);
}

.containerScores {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 25px;
    font-size: var(--main-font-size);
    color: var(--main-body-font-color);
}

.computerScoreTracker,
.playerScoreTracker {
    padding: 10px;
}

.containerResults {
    display: flex;
    justify-content: center;
    font-size: var(--main-font-size);
    color: var(--main-body-font-color);
}

.containerGameOver {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: var(--main-game-over-font-size);
    color: var(--main-body-font-color);
}

.containerPlayAgain {
    display: flex;
    justify-content: center;
}

.playAgainButton {
    padding: 20px 20px;
    background-image: linear-gradient(to left, var(--main-header-third-color), var(--main-header-second-color), var(--main-header-color));
    color: var(--main-button-font-color);
    outline: none;
    font-size: var(--main-font-size);
    font-family: inherit;
    border-radius: 40px;
    border-style: none;
}

.playAgainButton:hover {
    cursor: grabbing;
	transform: scale(1.5);
	transition: all .5s;
}

footer {
    margin-top: auto;
    font-size: var(--main-body-font-size);
    color: var(--main-body-font-color);
    display: flex;
    justify-content: center;
}

#github {
    padding: 4px;
    color: var(--main-button-background-color);
    font-size: var(--main-font-size);
    transition: transform 1s;
}
  
#github:hover {
    transform: rotate(180deg) scale(1.5);
    color:var(--main-header-third-color);
}

@media (orientation: portrait) {
    .containerButtons {
        flex-direction: column;
    }

    #Rock,
    #Paper,
    #Scissors {
        margin: 1.5vh;
    }

    .containerScores {
        margin: 0;
    }

    footer {
        margin-top: 6vh;
    }
}