@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

:root {
    background-color: white;
    --main-icon-color: #623412;
    font-family:'Yanone Kaffeesatz', helvetica, sans-serif;
    --main-font-size: 30px;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    color: #88AADD;
    font-size: 125px;
    text-shadow: 4px 4px 0 #623412, -4px -4px 0 #BD9A7A;
    margin-top: 40px;
}

.containerButtons {
    display: flex;
    justify-content:space-around;
    margin: 0px 200px;
}

#Rock, 
#Paper, 
#Scissors {
    padding: 20px 40px;
    background-color: var(--main-icon-color);
    color: white;
    font-size: var(--main-font-size);
    border-radius:40px;
    border-style: none;
}

#Rock:hover, 
#Paper:hover,
#Scissors:hover {
    transition: transform 0.5s;
    background-color:#BD9A7A;
}

.containerScores {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 25px;
    font-size: var(--main-font-size);
}

.computerScoreTracker,
.playerScoreTracker {
    padding: 10px;
}

.containerResults {
    display: flex;
    justify-content: center;
    font-size: var(--main-font-size);
}

.containerGameOver {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 50px;
}

.containerPlayAgain {
    display: flex;
    justify-content: center;
}

.playAgainButton {
    padding: 20px 20px;
    background-image: linear-gradient(to left, #BD9A7A, #88AADD);
    color: white;
    outline: none;
    font-size: var(--main-font-size);
    border-radius: 40px;
    border-style: none;
}

.playAgainButton:hover {
    cursor: grabbing;
	transform: scale(1.5);
	transition: all .5s;
}

footer {
    padding: 20px 20px;
    margin-top: auto;
    font-size: 20px;
    text-align: center;
}

#github {
    padding: 4px;
    color: var(--main-icon-color);
    font-size: var(--main-font-size);
    transition: transform 1s;
}
  
#github:hover {
    transform: rotate(180deg) scale(1.5);
    color:#BD9A7A;
}

@media (orientation: portrait) {
    .containerButtons {
        flex-direction: column;
    }

    #Rock,
    #Paper,
    #Scissors {
        margin: 25px;
    }
    
    .header {
        font-size: 100px;
    }

    .containerScores {
        font-size: 30px;
        margin: 0;
    }
}